* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 100px 0 100px 0;
  background-image: url(bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  height: 100%;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.top-wrapper h2 {
  opacity: 0.7;
  font-size: 20px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  padding-top: 30px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 20px;
  margin-bottom: 10px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
  height:auto;
}
.about-myself{
padding-top: 10px;
padding-bottom: 30px;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 70px;
  margin-top: 1px;
  padding-left: 10px;
  position:absolute;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-left: -82px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.experience-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.exp {
  float: left;
  width: 25%;
}

.exp-icon {
  position:relative;
}
.icon-image{
  width:50%;
  height:50%;
}

.exp-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
  font-size: 20px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.contact-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.my-image{
  width: 20%;
  padding-left: 10px;
  height: 20%;

}




.recentwork-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}
.project-title {
  float: left;
  width: 25%;
}
.project-icon {
  position:relative;
}
.icon-image{
  width:33.3%;
  height:33.3%;
}


.resume-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.button{
  border-radius: 5px;
}
.is-medium { font-size: 1.05rem; }
.social-icons { margin: 0 auto 3rem; }
.icon.is-small { height: 1rem; width: 1rem; }
.project-icon p{
padding:5px 5px;
}

footer p{
  font-size: 25px;
  text-align: center;
}
.icon-image2{
  width:300px;
  height:150px;
}

.pr_des{
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}